
TemplateTest/.DS_Store
TemplateTest/.DS_Store
TemplateTest/TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/UserInterfaceState.xcuserstate
TemplateTest/TemplateTest.xcworkspace/xcuserdata/hw.xcuserdatad/UserInterfaceState.xcuserstate
